<ul>
<li>Name: <%= @post.name %></li>
<li>Content: <%= @post.content %></li>
  </ul>

  <form action="/posts/<%= @post.id %>/delete" method="POST">

    <input id="hidden" type="hidden" name="_method" value="delete"/>

    <input type="submit" value="delete" />

    </form>
